<% if flash[:signup_success] %>
  <div class="notice"><%= flash[:signup_success] %></div>
<% end %>

<h1>Itineraries</h1>
<% if current_user %>
  <h2>Welcome, <%= current_user.username %>!</h2>
  
  <%= link_to "Edit Profile", edit_user_path(current_user), class: "button" %>
<% end %>


<<<<<<< HEAD
<% if flash[:alert] %>
  <div class="alert"><%= flash[:alert] %></div>
=======
<% if flash.now[:alert] || flash[:alert] %>
  <div class="alert"><%= flash.now[:alert] || flash[:alert] %></div>
>>>>>>> main
<% end %>

<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
<% end %>

<%= form_with url: itineraries_path, method: :get, local: true do %>
<div>
<%= label_tag :search, "Search" %>
    <%= text_field_tag :search, params[:search], id: "search" %>

<%= text_field_tag :keyword, params[:search], id: "keyword", type: :hidden %>
  </div>

<%= render "shared/date_and_cost_filters",
           start_label: "Start date",
           end_label: "End date" %>

<div>
<%= label_tag :location, "Location" %>
    <%= text_field_tag :location, params[:location], id: "location" %>
</div>

<div>
  <%= label_tag :trip_type, "Trip type" %>
  <%= select_tag :trip_type,
        options_for_select([["Public", "Public"], ["Private", "Private"]], params[:trip_type]),
        include_blank: false,
        id: "trip_type" %>
</div>


<%= render "shared/search_and_clear_buttons" %>
<% end %>

<% if @itineraries.present? %>
<ul>
<% @itineraries.each do |itinerary| %>
      <li class="itinerary-title">
    <div class="itinerary-links">
      <%= link_to itinerary.title, itinerary_path(itinerary) %>
      <span>|</span>
      <%= link_to "Group chat", itinerary_group_messages_path(itinerary) %>
    </div>
      </li>
    <% end %>
  </ul>
    <% else %>
  <p>No itineraries found</p>
    <% end %>
