<%= render "shared/navbar" %>
<h1>Edit Itinerary Settings</h1>





<div class="d-flex account-form">
  <div class="card shadow-sm p-4 account-card">
    <div class="card-body">
      <h3 class="card-title text-center mb-4">Edit Itinerary</h3>

      <%= form_with model: @itinerary_group, url: itinerary_path(@itinerary_group), method: :patch, local: true do |f| %>
        <div class="mb-3">
          <%= f.label :is_private, "Trip Type" %>
          <%= f.select :is_private, [['Public', false], ['Private', true]], { selected: @itinerary_group.is_private } %>
        </div>

        <div class="mb-3">
          <%= f.label :password, "Trip Password" %>
          <%= f.password_field :password, class: "form-control" %>
        </div>



        <div class="d-grid mb-3">
          <%= f.submit "Save Changes", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
