<%= render "shared/navbar" %>
<h1><%= @itinerary_group.title %></h1>
<h1>Edit Itinerary Settings</h1>
<% if @itinerary_group.errors.any? %>
  <div class="error-messages">
    <ul>
      <% @itinerary_group.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>




<div class="d-flex account-form">
  <div class="card shadow-sm p-4 account-card">
    <div class="card-body">
      <h3 class="card-title text-center mb-4">Edit Itinerary</h3>

      <%= form_with model: @itinerary_group, url: itinerary_path(@itinerary_group), method: :patch, local: true do |f| %>
        <div class="mb-3">
          <%= f.label :title, "Title" %>
          <%= f.text_field :title, class: "form-control" %>
        </div>

        <div class="mb-3">
          <%= f.label :description, "Description" %>
          <%= f.text_area :description, class: "form-control" %>
        </div>

        <div class="mb-3">
          <%= f.label :location, "Location" %>
          <%= f.text_field :location, class: "form-control" %>
        </div>

        <div class="mb-3">
          <%= f.label :start_date, "Start Date" %>
          <%= f.date_field :start_date, class: "form-control" %>
        </div>

        <div class="mb-3">
          <%= f.label :end_date, "End Date" %>
          <%= f.date_field :end_date, class: "form-control" %>
        </div>
        
        <div class="mb-3">
          <%= f.label :is_private, "Trip Type" %>
          <%= f.select :is_private, [['Public', false], ['Private', true]], { selected: @itinerary_group.is_private } %>
        </div>
        
        <div class="mb-3">
            <%= f.label :cost, "Trip Cost" %>
            <%= f.number_field :cost, step: 0.01 %>
        </div>

        <div class="mb-3">
          <%= f.label :password, "Trip Password" %>
          <%= f.password_field :password, class: "form-control" %>
        </div>



        <div class="d-grid mb-3">
          <%= f.submit "Save Changes", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>





 



