<%= render "shared/navbar" %>
<% if flash[:alert] %>
  <div class="alert">
    <%= flash[:alert] %>
  </div>
<% end %>

<%= form_with url: join_itinerary_path(@itinerary_group), method: :post do |f| %>
  <%= label_tag :password, "Trip Password" %>
  <%= password_field_tag :password %>
  <%= submit_tag "Join Trip" %>
<% end %>