<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
<% end %>

<% if flash[:alert] %>
  <div class="alert"><%= flash[:alert] %></div>
<% end %>

<h1><%= @itinerary_group.title || 'Not available' %></h1>

<p>Description: <%= @itinerary_group.description.presence || 'Not available' %></p>
<p>Location: <%= @itinerary_group.location.presence || 'Not available' %></p>
<p>Start date: <%= @itinerary_group.start_date || 'Not available' %></p>
<p>End date: <%= @itinerary_group.end_date || 'Not available' %></p>
<p>Privacy: <%= @itinerary_group.is_private.presence || 'Not available' %></p>
<p>Cost: <%= @itinerary_group.cost || 'Not available' %></p>

<% if @organizer || @attendees.any? %>
  <h2>Group Members</h2>
  <ul>
    <% if @organizer %>
      <li><%= @organizer.first_name %> <%= @organizer.last_name %></li>
    <% end %>
    
    <% @attendees.each do |attendee| %>
      <li><%= attendee.first_name %> <%= attendee.last_name %></li>
    <% end %>
  </ul>
<% end %>



<%= link_to 'Back to results', itineraries_path %>