<h1>Edit Profile</h1>

<% if @user.errors.any? %>
  <div class="errors">
    <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<% if flash[:alert] %>
  <div class="alert"><%= flash[:alert] %></div>
<% end %>

<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
<% end %>

<%= form_with model: @user, url: user_path(@user), method: :patch do |f| %>
  <%= f.label :username %>
  <%= f.text_field :username %>

  <% unless @user.oauth_user? %>
    <%= f.label :current_password, "Current password" %>
    <%= password_field_tag :current_password, nil, required: true %>

    <%= f.label :password, "New password" %>
    <%= f.password_field :password %>

    <%= f.label :password_confirmation, "New password confirmation" %>
    <%= f.password_field :password_confirmation %>
  <% end %>

<div>
  <%= f.label :first_name %>
  <%= f.text_field :first_name %> <!-- optional -->
</div>

<div>
  <%= f.label :last_name %>
  <%= f.text_field :last_name %> <!-- optional -->
</div>

<div>
  <%= f.label :age %>
  <%= f.number_field :age, min: 0 %> <!-- optional -->
</div>

<div>
  <%= f.label :gender %>
  <%= f.select :gender, ["Male", "Female", "Other"], include_blank: true %> <!-- optional -->
</div>

  
  <%= f.submit "Save Changes" %>
<% end %>
