<h1>Edit Profile</h1>

<% if @user.errors.any? %>
  <div class="errors">
    <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_with model: @user, url: user_path(@user), method: :patch do |f| %>
  <%= f.label :username %>
  <%= f.text_field :username %>

  <%= f.label :role %>
  <%= f.text_field :role %>
  

  <%= f.label :password, "New password" %>
  <%= f.password_field :password, required: true %>

  <%= f.label :password_confirmation, "New password confirmation" %>
  <%= f.password_field :password_confirmation, required: true %>

<div>
  <%= f.label :first_name %>
  <%= f.text_field :first_name %> <!-- optional -->
</div>

<div>
  <%= f.label :last_name %>
  <%= f.text_field :last_name %> <!-- optional -->
</div>

<div>
  <%= f.label :age %>
  <%= f.number_field :age %> <!-- optional -->
</div>

<div>
  <%= f.label :gender %>
  <%= f.select :gender, ["Male", "Female", "Other"], include_blank: true %> <!-- optional -->
</div>

  
  <%= f.submit "Save Changes" %>
<% end %>
