<% content_for :body_class, "signin-page" %>
<%= render "shared/navbar" %>
<%= render "shared/flash" %>






<% if @user.errors.any? %>
  <div class="alert alert-danger w-50 mx-auto" role="alert">
    <h4 class="alert-heading">Please fix the following errors:</h4>
    <ul class="mb-0">
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% end %>





 <div class="d-flex account-form">
  <div class="card shadow-sm p-4 account-card">
    <div class="card-body">
      <h3 class="card-title text-center mb-4">Create Account</h3>

      <%= form_with model: @user, local: true, id: "new_user" do |f| %>
        <div class="mb-3">
          <%= f.label :username, class: "form-label" %>
          <%= f.text_field :username, class: "form-control", placeholder: "Enter username" %>
        </div>

       <div class="mb-3">
          <%= f.label :role, class: "form-label" %>
          <%= f.select :role, ["user", "organizer"], {}, class: "form-select" %>
        </div>

        <div class="mb-3">
          <%= f.label :password, class: "form-label" %>
          <%= f.password_field :password, class: "form-control", placeholder: "Enter password" %>
        </div>

        <div class="mb-3">
          <%= f.label :password_confirmation, "Password Confirmation", class: "form-label" %>
          <%= f.password_field :password_confirmation, class: "form-control", placeholder: "Confirm password" %>
        </div>

        <div class="d-grid mb-3">
          <%= f.submit "Create Account", class: "btn btn-primary" %>
        </div>
      <% end %>
      <div class="text-center">
        <small>
          Already have an account? <%= link_to "Login", login_path %>
        </small>
      </div>
    </div>
  </div>
</div>



  

















      
        

        

      
        

    