<% content_for :body_class, "signin-page" %>

<div class="signin-container">

  <h1>Create a New Account</h1>

  <% if @user.errors.any? %>
    <div class="errors">
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form_with model: @user, local: true, id: "new_user" do |f| %>
    <div>
      <%= f.label :username %>
      <%= f.text_field :username %>
    </div>

    <div>
      <%= f.label :role %>
      <%= f.select :role, ["user", "organizer"] %>
    </div>

    <div>
      <%= f.label :password %>
      <%= f.password_field :password %>
    </div>

    <div>
      <%= f.label :password_confirmation, "Password Confirmation" %>
      <%= f.password_field :password_confirmation %>
    </div>

    <%= f.submit "Create Account" %>
  <% end %>
<div>