<div class="row mb-3">
  <div class="col-md-3">
    <%= label_tag :start_date, "Start date" %>
    <%= date_field_tag :start_date, params[:start_date], class: "form-control" %>
  </div>
  <div class="col-md-3">
    <%= label_tag :end_date, "End date" %>
    <%= date_field_tag :end_date, params[:end_date], class: "form-control" %>
  </div>
  <div class="col-md-3">
    <%= label_tag :min_cost, "Min cost" %>
    <%= number_field_tag :min_cost, params[:min_cost], class: "form-control" %>
  </div>
  <div class="col-md-3">
    <%= label_tag :max_cost, "Max cost" %>
    <%= number_field_tag :max_cost, params[:max_cost], class: "form-control" %>
  </div>
</div>