<%= render "shared/navbar" %>
<%= render "shared/flash" %>
<h1>Hotels</h1>



<div class="search-filter-container">
  <div class="search-form">
    <div class="card shadow-sm p-4 search-card">
      <div class="card-body">
        <%= form_with url: hotels_path, method: :get, local: true do %>

        

        <div class="row mb-3">
          <div class="col-md-6">
            <%= label_tag :search_location, "Location" %>
            <%= text_field_tag :search_location, params[:search_location], id: "search_location", class: "form-control" %>
          </div>


          <div class="col-md-6">
            <%= label_tag :min_rating, "Minimum rating" %>
            <%= number_field_tag :min_rating, params[:min_rating], id: "min_rating", min: 0, max: 5, step: 0.1, class: "form-control"%>
          </div>
        </div>
        <%= render "shared/date_and_cost_filters", start_label: "Departure date", end_label: "Arrival date" %>

        <%= render "shared/search_and_clear_buttons" %>

        <% end %>
      </div>
    </div>
  </div>
</div>

<% if @hotels.present? %>
  <div class="row row-cols-1 g-4 mt-3"> <!-- Bootstrap grid with spacing -->
    <% @hotels.each do |hotel| %>
      <div class="col">
        <div class="card shadow-sm p-3">

          <h2 class="card-title"><%= hotel.name %></h2>

          <p class="card-text">
            <strong>Location:</strong>
            <%= hotel.location %>
          </p>

          <% if hotel.rating.present? %>
            <p class="card-text">
              <strong>Rating:</strong>
              <%= hotel.rating %> / 5.0
            </p>
          <% end %>

          <% if hotel.cost.present? %>
            <p class="card-text">
              <strong>Cost per night:</strong>
              $<%= number_with_precision(hotel.cost, precision: 2) %>
            </p>
          <% end %>

          <% if hotel.arrival_time.present? || hotel.departure_time.present? %>
            <p class="card-text">
              <% if hotel.arrival_time.present? %>
                <strong>Check-in:</strong>
                <%= l(hotel.arrival_time, format: :long) %>
              <% end %>
              <% if hotel.departure_time.present? %>
                <br>
                <strong>Check-out:</strong>
                <%= l(hotel.departure_time, format: :long) %>
              <% end %>
            </p>
          <% end %>

        </div>
      </div>
    <% end %>
  </div>
<% else %>
  <p>No hotels found</p>
<% end %>
